* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-weight: 300;
    margin-bottom: 2%;
    font-size: x-large;
}

body {
    text-align: center;
}

header img {
    width: 10%;
}

input.emailing {
    margin: 5% auto 2%;
    width: 30%;
    height: 7vh;
    border-radius: 30px;
    text-align: center;
}

p {
    font-size: large;
    margin: 0 auto;
}

img {
    width: 60%;
    margin: 5% auto 5%;
}

svg {
    display: block;
    margin: 10% auto;
    /* text-align: center; */
}

svg * {
    font-size: 25px;
}

input.notify {
    margin: 2% auto 5%;
    width: 20%;
    height: 7vh;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    color: white;
}

footer {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer p {
    font-weight: 300;
}

.socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5%;
}

a.fa {
    text-decoration: none;
    font-size: large;
}

a.fa.fa-facebook-f {
    justify-self: right;
}

a.fa.fa-instagram {
    justify-self: left;
}

@media only screen and (max-width: 655px) {
    header img {
        width: 20%;
    }

    img {
        width: 90%;
        margin: 10% auto 15%;
    }

    p {
        font-size: small;
        margin: 10% auto;
    }

    h1 {
        margin-bottom: 5%;
        font-size: x-large;
    }

    input.emailing {
        width: 60%;
    }

    input.notify {
        display: block;
        width: 60%;

    }

    img {
        width: 90%;
    }

    footer {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .socialIcons {
        margin-bottom: 10%;
    }

}