* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-weight: 300;
    margin-bottom: 2%;
    font-size: 48px;
}

body {
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
}

header img {
    width: 10%;
}

header p {
    font-size: x-large;
}

input.emailing {
    /*margin: 5% auto 2%;*/
    margin-right: 2%;
    width: 70%;
    height: 7vh;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 30px;
    text-align: left;
    justify-self: right;
    font-size: large;
    padding-left: 5%;
    opacity: 0.3;
}

/*  
input.emailing:hover {
    box-shadow: 0 0 2px 3px peru;
}
 */
span#fadeText {
    opacity: 0.2;
}

.message {
    width: 70%;
    height: 4vh;
    justify-self: center;
    margin-top: 1%;
    line-height: 3em;
}

p {
    font-size: large;
    margin: 0 auto;
}

footer p {
    opacity: 0.4;
}

img {
    width: 65%;
    margin: 5% auto 5%;
}

svg {
    display: block;
    margin: 10% auto;
    /* text-align: center; */
}

svg * {
    font-size: 25px;
}

input.notify {
    margin: 0;
    width: 55%;
    height: 7vh;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    color: white;
    justify-self: left;
}

footer {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer p {
    font-weight: 300;
}

.socialIcons {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% auto 5%;
}

a.fa {
    text-decoration: none;
    font-size: large;

}

a.fa {
    width: 2em;
    text-align: center;
    padding: 4%;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;

}

a.fa.fa-twitter {
    justify-self: center;
}

a.fa.fa-facebook-f {
    justify-self: right;
}

a.fa.fa-instagram {
    justify-self: left;
}

a.fa:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.validation {
    margin: 3% 0 0 0;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
}

.emailInfo {
    display: grid;
    grid-template-columns: 1fr;
}

label.message {
    color: red;
    font-size: small;
}

label#emailLabel {
    text-align: right;
}

@media only screen and (max-width: 655px) {
    header img {
        width: 20%;
    }

    img {
        width: 90%;
        margin: 10% auto 15%;
    }

    p {
        font-size: small;
        margin: 10% auto;
    }

    header p {
        font-size: x-small;
    }

    h1 {
        margin-bottom: 5%;
        font-size: large;
    }

    input.emailing {
        width: 80%;
        margin: auto;
        font-size: small;
    }

    input.notify {
        display: block;
        width: 80%;
        margin: -5% auto 0 auto;
    }

    img {
        width: 90%;
    }

    label#emailLabel {
        text-align: center;
    }

    footer {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .socialIcons {
        margin-bottom: 10%;
    }

    a.fa {
        font-size: small;
       /* padding: 7%; */
        width: 20px;
    }

    .validation {
        grid-template-columns: 1fr;
    }

    .emailInfo {
        margin-bottom: 8%;
    }

    label.message {
        justify-self: center;
        margin-top: 0;
        /* margin-left: 20%; */
    }

}